<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title%></title>
</head>
<body>
<div class="box"></div>
<div></div>

<div class="s">
    <div></div>
</div>
<div style="word-break: break-all">
    <%= JSON.stringify(htmlWebpackPlugin) %>
</div>

<% for(var attr in htmlWebpackPlugin.options) { %>
<p><%= attr %></p>
<% } %>
<br>
<% for(var attr in htmlWebpackPlugin.options) { %>
<div><%= attr %></div>
<% } %>
</body>
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.js"></script>
<script>
	$(document).ready(function () {
		$.get('/api/user', function (data) {
			console.dir(data)
		})
	})
</script>
</html>