* {
    padding: 0;;
    margin: 0;
}

body {
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}
.box{
    width: 300px;
    height: 300px;
    border: 1px solid #f80;
    box-sizing: border-box;
    display: flex;
    background: url("../images/1.gif");
}